# Virtual environment
venv/

# Generated output files
*.tsv
*_MSFO_annual.csv
*_MSFO_quarterly.csv
*_RSBU_annual.csv
*_RSBU_quarterly.csv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db 